.WeatherForecast{
text-align: center;

}
.WeatherForecast-temperature-min{
   opacity: 0.6; 
   margin-left: 5px;
   color: black;
}
.WeatherForecast-temperature-max{
   color: black;
}
.WeatherForecast-day{
   color: black;
}
   